@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

button {
  border: transparent;
  cursor: pointer;
}

img, video {
  max-width: 100%;
  height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: .5vw;
  height: .5vw;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100,116,139,1);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html {
  scrollbar-width: .5vw;
  scrollbar-color: rgba(100,116,139,1);
}